<div class="container px5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', user: @user, current_user: current_user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Users</h1>
      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(100, 100) %></td>
            <td><%= user.name %></td>
            <td class="right"><%= link_to "show", user_path(user.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  table {
    width: 100% ;
  }

  tr {
    border-top: 1px solid ;
    border-color: #dcdcdc ;
  }

</style>
