<div class="container px5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'list', book: @book, user: @user, current_user: current_user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'index', books: @books %>
    </div>
  </div>
</div>

<style>
  table {
    width: 100% ;
  }

  tr {
    border-top: 1px solid ;
    border-color: #dcdcdc ;
  }

</style>
